extends layout

block content 
    form(action='/growth_charts/generate_pdf', method='POST')
        .form-group
            label(for='personalId') #{idLabel}
            input#personalId(type="text", name='personalId')
        .form-group
            label(for='chartType') #{chartTypeLabel}
            select#chartType(name='chartType')
                each cType in chartTypes
                    option(value=cType.id) #{cType.value}
        button.btn.btn-primary(type='submit') #{submitButton} 