doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='./css/bootstrap.min.css')
  body
    script(src="./js/bootstrap.js", defer)
    block content
